langchain
langchain-community
langchain-text-splitters
pypdf


#vector stores
langchain-chroma
chromadb


#langchain for gemini
langchain-google-genai
langchain-openai

#web-api
fastapi
uvicorn
python-multipart
